.soundbarContainer {
    background-color: black;
    height: 72px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    bottom: 0;

    .info {
        display: flex;
        align-items: center;

        img {
            width: 55px;
            border-radius: 4px;
        }

        .titleArtist {
            display: flex;
            flex-direction: column;
            margin-left: 0.8rem;
            color: white;
            width: fit-content;
            height: fit-content;
            position: relative;

            .song {
                font-weight: 600;
                font-size: 14px;
            }

            .artist {
                font-size: 12px;
            }
        }

        .heart {
            color: white;
            margin-left: 15px;

            &:hover {
                cursor: pointer;
                transform: scale(1.14);
                color: #fff;
            }
        }
    }

    .prodContainer {
        display: flex;
        justify-content: center;

        .producer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .buttonProd,
        .playBtn {
            background-color: transparent;
            border: none;

            #iconBtn {
                font-size: 25px;
                align-items: end;
            }

            &:hover {
                transform: scale(1.14);
            }

            &::after {
                background-color: transparent;
                border: none;
            }
        }
    }

    #likeBtn{
        background-color: transparent;
        border: none;
        &:hover {
            transform: scale(1.14)
        }
    }

    .barContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;

        #progressBar {
            width: 30rem;
            height: 4px;
            background: gray;
            border-radius: 10px;
            cursor: pointer;
            margin-left: 10px;
            margin-right: 10px;
            &:hover{
                #progressed{
                    background-color: rgb(0, 168, 0); 
                }
            }

            #progressed {
                height: 4px;
                background-color: #ffffff;
                border-radius: 10px;
                width: 0;
                transition: all 0.3s;
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    right: -5px;
                    top: -5px;
                    width: 13px;
                    height: 13px;
                    border-radius: 10px;
                    background-color: white;
                }
            }
        }

        .minutesInit, .minutesFinal {
            color: rgb(200, 200, 200);
            font-size: 13px;
        }

        .barSettings {
            height: 4px;
            width: 28rem;
            margin-left: 7px;
            margin-right: 7px;
        }
    }

    .asideContainer {
        display: flex;
        justify-content: end;
        align-items: center;

        input[type= "range"]{
            background-color: gray;
            height: 4px;
            border-radius: 10px;
            cursor: pointer;
            accent-color: white;
        }

        .buttonProd {
            background-color: transparent;
            border: none;
            color: white;

            &:hover {
                transform: scale(1.14);
            }

            &::after {
                background-color: transparent;
                border: none;
            }
        }
    }
}