@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../scss/album";
@import "../scss/home";

body {
    font-family: "Circular", sans-serif;
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

.grey-container {
    background-color: #121212;
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    a,
    .plus {
        text-decoration: none;
        color: grey;
        &:hover {
            color: white;
        }
    }
}

.bold {
    font-weight: 700;
    display: block;
    span,
    i {
        vertical-align: middle;
    }
}

.pill {
    background-color: #282828;
    border: 0;
    border-radius: 1rem;
    padding: 4px 10px;
    font-size: 0.9rem;
    color: white;
    &:hover {
        background-color: #313031;
    }
}

.playlist-library {
    height: calc(100vh - 345px);
    overflow-y: hidden;
    // transition: all 0.5;
    &:hover {
        overflow-y: scroll;
    }
}

.playlist-image {
    width: 50px;
    border-radius: 3px;
}

.element {
    padding: 6px;
    &:hover {
        background-color: #313031;
    }
    .element-text {
        span {
            font-size: 1rem;
        }
        .info {
            color: grey;
            font-size: 0.8rem;
        }
    }
}

.music-player {
    background-color: white;
    height: 72px;
    width: 100%;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: grey;
}

.main-content{
    height: calc(100vh - 88px);
    overflow-y: auto;
    header{
    border-radius: 8px 0px 0px 0px;
    transition: all 0.4s ease;
    background-color: rgba($color: #282828, $alpha: 0.0);
    z-index: 1;
    .history-arrow{
        
        color: white;
        width: 32px; 
        height: 32px;
        background-color: rgba($color: black, $alpha: 0.8);
        border-radius: 50%;
        border: none;
    }
    .install {
        font-weight: 700;
    }
    .dropdown-menu.text-small {
        background-color: #313031;
        a {
            color: white;
        }
    }
}
}



.soundbarContainer {
    background-color: black;
    height: 80px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    bottom: 0;

    .info {
        display: flex;
        align-items: center;

        img {
            width: 55px;
            border-radius: 4px;
        }

        .titleArtist {
            display: flex;
            flex-direction: column;
            margin-left: 0.8rem;
            color: white;
            width: fit-content;
            height: fit-content;
            position: relative;

            .song {
                font-weight: 600;
                font-size: 14px;
            }

            .artist {
                font-size: 12px;
            }
        }

        .heart {
            color: white;
            margin-left: 15px;

            &:hover {
                cursor: pointer;
                transform: scale(1.14);
                color: #fff;
            }
        }
    }

    .prodContainer {
        display: flex;
        justify-content: center;

        .producer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        svg {
            margin-left: 10px;
        }

        .buttonProd {
            background-color: transparent;
            border: none;

            &:hover {
                transform: scale(1.14);
            }

            &::after {
                background-color: transparent;
                border: none;
            }
        }
    }

    .barContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        ;

        .minutes {
            color: white;
            font-size: 13px;
        }

        .barSettings {
            height: 4px;
            width: 28rem;
            margin-left: 7px;
            margin-right: 7px;
        }
    }

    .asideContainer {
        display: flex;
        justify-content: end;
        align-items: center;

        .buttonProd {
            background-color: transparent;
            border: none;
            color: white;

            &:hover {
                transform: scale(1.14);
            }

            &::after {
                background-color: transparent;
                border: none;
            }
        }
    }
}


