@import "../node_modules/bootstrap/scss/bootstrap.scss";


body {
    font-family: "Circular", sans-serif;
    background-color: black;
}

.soundbarContainer {
    background-color: gray;
    height: 72px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: absolute;
    bottom: 0;

    .info {
        display: flex;
        align-items: center;

        img {
            width: 55px;
            border-radius: 4px;
        }

        .titleArtist {
            display: flex;
            flex-direction: column;
            margin-left: 0.8rem;
            color: white;
            width: fit-content;
            height: fit-content;
            position: relative;

            .song {
                font-weight: 600;
                font-size: 14px;
            }

            .artist {
                font-size: 12px;
            }
        }

        .heart {
            color: white;
            margin-left: 15px;

            &:hover {
                cursor: pointer;
                transform: scale(1.14);
                color: #fff;
            }
        }
    }

    .prodContainer {
        display: flex;
        justify-content: center;

        .producer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        svg {
            margin-left: 10px;
        }

        .buttonProd {
            background-color: transparent;
            border: none;

            &:hover {
                transform: scale(1.14);
            }

            &::after {
                background-color: transparent;
                border: none;
            }
        }
    }

    .barContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4px;
        ;

        .minutes {
            color: white;
            font-size: 13px;
        }

        .barSettings {
            height: 4px;
            width: 28rem;
            margin-left: 7px;
            margin-right: 7px;
        }
    }

    .asideContainer {
        display: flex;
        justify-content: end;

        .buttonProd {
            background-color: transparent;
            border: none;
            color: white;

            &:hover {
                transform: scale(1.14);
            }

            &::after {
                background-color: transparent;
                border: none;
            }
        }
    }
}